body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

header{
    background-color: #BA90DE;
}

nav{
    background-color: #F5E5EA;
    display: inline-block;
    width: 80%;
}

nav img {
    width: 10%;
    position: relative;
    top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
}

.grid img {
    width: 100%;
}

.grid {
    justify-content: center; /* or flex-start, flex-end, etc. */
    align-items: start; /* or center, end, etc. */
    row-gap: 20px; /* Adjust as needed */
}

.flex {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Adjust as needed */
}

main{
    background-color: #F7C9CD;
    font-size: 20px;
}

footer{
    font-size: 13px;
    background-color: #F6B1C1;
}

li{
    display: inline-block;
    padding: 30px;
    width: fit-content;   
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #63cfb8;
}

p{
    line-height: 30px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

